.list-section {
    display: flex;
    flex-wrap: wrap;
    
    
}

    li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 300px;
    width: 300px;
    min-width: 300px;
    border-radius: 10%;
    border: 3px solid skyblue;
    background-color: rgb(235, 211, 152);
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 5px;
    box-shadow:5px 3px gray;
}

.list-section li h2 {
    font-size: 1.5em;
    text-shadow:1px 1px gray;
}

.list-section li .image-type {
    font-size: .8em;
    color: #555;
}

.list-section li .horn-quantity {
    font-size: 1.5em;
}

.image-container {
    height: 50%;
}

.image-container img {
    height: 110%;
    object-fit: contain;
}